<label
  >Server Name <input type="text" class="form-control" [(ngModel)]="serverName"
/></label>
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add server
</button>
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated; else noServer">
  Server was create, server name {{ serverName }}
</p>
<ng-template #noServer>
  <p>No server was created</p>
</ng-template>
<app-server></app-server>
<app-server></app-server>

<label>
  <input type="text" class="form-control" [(ngModel)]="username" />
</label>
<button
  class="btn btn-primary"
  [disabled]="!username"
  (click)="onSetUsername()"
>
  Set user
</button>

<p>{{ usernameCreationStatus }}</p>
